# server configuration
PORT=8000
NODE_ENV=development
CLIENT_URL=http://localhost:3000

# mongodb configuraion
MONGO_URI=mongodb+srv://
SECRET_KEY=something

# Cloudinary
API_KEY=222
API_SECRET=123
CLOUD_NAME=abc

# Razorpay keys
RAZORPAY_KEY_ID=1234
RAZORPAY_KEY_SECRET=123456
